<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- Student bean -->
	<bean id="student" class="com.myexamp.examp.Student" scope="singleton" lazy-init="false">
	<!-- Singleton,prototype,session,request,application -->
		<!-- <constructor-arg name="name" value="Soumya" />
		<constructor-arg name="roll" value="100" type="int" />
		<constructor-arg name="addr" ref="address"/> -->
		<property name="name" value="Sourav"/>
		<property name="roll" value="100"/>
		<property name="addr" ref="address"/>
	</bean>
	<!-- address object with values -->
	<bean id="address" class="com.myexamp.examp.Address" lazy-init="true">
		<constructor-arg name="city"  value="Bengaluru" />
		<constructor-arg name="street" value="kundalahalli" />
	</bean>

</beans>