<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- Student bean -->
	<bean id="student" class="com.ardent.spring.core.Student" scope="singleton" lazy-init="false">
		<constructor-arg name="studentName" value="Soumya" />
		<constructor-arg name="roll" value="100" type="int" />
		
		<!--  Setter injection -->
		 <property name="course" ref="course"/>
	</bean>
	<!-- course object with values -->
	<bean id="course" class="com.ardent.spring.core.Course">
		<constructor-arg name="courseName"  value="Spring Boot" />
		<constructor-arg name="courseId" value="101" type="int" />
	</bean>

</beans>